.crp_related h3 {
  margin: 0 !important;
}
.crp_related ul {
  list-style: none;
  float: left;
  margin: 0 !important;
}
.crp_related li, .crp_related a {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.crp_related li {
  margin: 5px !important;
  border: 1px solid #ddd;
  padding: 6px;
}
.crp_related li:hover {
  background: #eee;
  border-color: #bbb;
}
.crp_related a {
  width: 150px;
  height: 150px;
  text-decoration: none;
}
.crp_related a:hover {
  text-decoration: none;
}
.crp_related img {
  max-width: 150px;
  margin: auto;
}
.crp_related .crp_title {
  position: absolute;
  height: inherit;
  bottom: 6px;
  left: 6px;
  padding: 3px;
  width: 144px;  /* = 150px - (3px * 2) */
  color: #fff;
  font-size: .9em;
  text-shadow: #000 .1em .1em .2em;
  background: rgb(0.5, 0.5, 0.5);
  background: rgba(0, 0, 0, 0.5);
}
.crp_related li:hover .crp_title {
  background: rgb(0.2, 0.2, 0.2);
  background: rgba(0, 0, 0, 0.8);
}

.crp_related .crp_thumb, .crp_related li, .crp_related .crp_title {
  vertical-align: bottom;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}