.crp_related.crp-grid {
	clear: both;
	margin: 10px 0;
}
.crp_related.crp-grid h3, .crp_related.crp-grid figure {
	margin: 0 !important;
}
.crp_related.crp-grid ul {
	display: grid;
	gap: 10px;
	margin: 0;
	justify-items: center;
	list-style: none;
	padding: 0;
}
.crp_related.crp-grid ul li {
	text-align:left;
	display: flex;
	flex-direction: column;
	word-break: break-word;
}
.crp_related.crp-grid ul li a.crp_link {
	flex-grow: 1;
	display: grid;
	overflow: hidden;
	padding: 3px;
}
.crp_related.crp-grid .crp_thumb, .crp_related.crp-grid .crp_title {
	display: block;
	margin: 0 auto;
}
.crp_related.crp-grid ul li a {
	text-decoration: none !important;
}
.crp_related.crp-grid ul li img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.crp_clear {
	clear: both;
}
.crp_author, .crp_date, .crp_excerpt {
	display: block;
	font-size: 0.9em;
}
