.crp_related {
	clear: both;
	margin: 10px 0;
}
.crp_related h3 {
	margin: 0 !important;
}
.crp_related ul {
	display: grid;
	gap: 10px;
	margin: 0;
	justify-items: center;
	list-style: none;
}
.crp_related ul li {
	text-align:left;
	word-break: break-word;
}
.crp_related .crp_thumb, .crp_related .crp_title {
	display: block;
	margin: 0 auto;
}
.crp_related ul li a {
	text-decoration: none !important;
}
.crp_related ul li img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.crp_clear {
	clear: both;
}
.crp_author, .crp_date, .crp_excerpt {
	display: block;
	font-size: 0.9em;
}
