.crp_related.crp-rounded-thumbs {
	clear: both;
	margin: 10px 0;
}
.crp_related.crp-rounded-thumbs h3, .crp_related.crp-rounded-thumbs figure {
	margin: 0 !important;
}
.crp_related.crp-rounded-thumbs ul {
	list-style: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
}
.crp_related.crp-rounded-thumbs li, .crp_related.crp-rounded-thumbs a {
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.crp_related.crp-rounded-thumbs li {
	margin: 5px !important;
	border: 1px solid #ddd;
	padding: 6px;
}
.crp_related.crp-rounded-thumbs li:hover {
	background: #eee;
	border-color: #bbb;
}
.crp_related.crp-rounded-thumbs a {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	text-decoration: none !important;
}
.crp_related.crp-rounded-thumbs a:hover {
	text-decoration: none;
}
.crp_related.crp-rounded-thumbs .crp_title {
	color: #fff !important;
	position: absolute;
	display: block;
	bottom: 0;
	padding: 3px;
	font-size: .9em;
	text-shadow: .1em .1em .2em #000;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	width: 100%;
}
.crp_related.crp-rounded-thumbs li:hover .crp_title {
	background-color: rgba(0, 0, 0, 0.8);
}
.crp_related.crp-rounded-thumbs li {
	vertical-align: bottom;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	list-style-type: none;
}
.crp_clear {
	clear: both;
}
.crp_title:visited {
	color: #fff !important;
}
