parameters:
	ignoreErrors:
		-
			message: "#^Constant CRP_PLUGIN_URL not found\\.$#"
			count: 3
			path: includes/admin/admin.php

		-
			message: "#^Constant CRP_PLUGIN_URL not found\\.$#"
			count: 1
			path: includes/admin/default-settings.php

		-
			message: "#^Constant CRP_PLUGIN_DIR not found\\.$#"
			count: 1
			path: includes/admin/modules/tools.php

		-
			message: "#^Constant CRP_PLUGIN_URL not found\\.$#"
			count: 3
			path: includes/admin/sidebar.php

		-
			message: "#^Constant CRP_PLUGIN_DIR not found\\.$#"
			count: 2
			path: includes/blocks/register-blocks.php

		-
			message: "#^Call to function is_int\\(\\) with array will always evaluate to false\\.$#"
			count: 1
			path: includes/main-query.php

		-
			message: "#^Variable \\$meta_key might not be defined\\.$#"
			count: 3
			path: includes/main-query.php

		-
			message: "#^Elseif branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: includes/media.php

		-
			message: "#^Offset 'thumb_size' on \\*NEVER\\* in isset\\(\\) always exists and is always null\\.$#"
			count: 1
			path: includes/media.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: includes/modules/cache.php

		-
			message: "#^Variable \\$expires in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: includes/modules/cache.php

		-
			message: "#^Method CRP_Widget\\:\\:form\\(\\) should return string but return statement is missing\\.$#"
			count: 1
			path: includes/modules/class-crp-widget.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and string will always evaluate to false\\.$#"
			count: 1
			path: includes/tools.php
