includes:
	- phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - contextual-related-posts.php
        - uninstaller.php
        - includes/
    scanFiles:
        - contextual-related-posts.php
    scanDirectories:
        - includes
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
